<footer class="text-gray-600 body-font">
  <div class="container mx-auto flex justify-center items-center">
    <hr class="rounded w-8/12">
  </div>
  <div class="container mx-auto flex flex-col sm:flex-row justify-center text-center px-4 pt-4">
    This project is funded by the European Research Council.
  </div>
  <div class="container mx-auto flex justify-center items-center px-4 py-4">
    <img src="/assets/img/LOGO_ERC-FLAG_FP_1.png" class="max-w-full h-auto align-middle border-none" />
  </div>
  <div class="container mx-auto flex flex-col sm:flex-row justify-center items-center py-4 px-5">
    <p class="text-sm text-center sm:text-left">© 2024 DIALECT-ERC
      •
      Website created using the <a class="hover:text-primary-600 font-semibold" href="https://github.com/abhinavs/cookie"
        target="_blank" rel="noreferrer">Cookie theme</a>
      •
      <a class="hover:text-primary-600 font-semibold" href="{{ site.baseurl }}/impressum"
        target="_blank" rel="noreferrer">Impressum</a>
    </p>
  </div>
</footer>