<nav class="bg-white border-gray-200 border-b bg-opacity-90 fixed top-0 z-50 w-full backdrop-blur-sm">
  <div class="max-w-screen-xl mx-auto flex justify-between items-center p-5">
    <!-- Placeholder for Logo (Optional) -->
    <a href="{{ site.baseurl }}/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <div class="text-2xl font-semibold whitespace-nowrap dark:text-white hover:drop-shadow-lg">
        <span class="uppercase text-primary-600">DIALECT</span>
        <span class="text-gray-700">project</span>
      </div>      
    </a>

    <!-- Mobile Menu Button -->
    <div class="md:hidden">
      <button id="mobile-menu-toggle" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
    </div>

    <!-- Desktop Menu -->
    <div class="hidden md:flex items-center space-x-8" id="navbar-default">
      <ul class="font-medium text-gray-900 dark:text-white hover:bg-transparent flex flex-col md:flex-row md:space-x-8 rtl:space-x-reverse">
        <li><a href="{{ site.baseurl }}/" class="py-2 px-3 hover:text-primary-700 md:p-0">Home</a></li>
        <li><a href="#" class="py-2 px-3 hover:text-primary-700 md:p-0">News</a></li>
        <li><a href="#" class="py-2 px-3 hover:text-primary-700 md:p-0">Publications</a></li>
        <li><a href="#" class="py-2 px-3 hover:text-primary-700 md:p-0">Resources</a></li>
        <li><a href="{{ site.baseurl }}/team" class="py-2 px-3 hover:text-primary-700 md:p-0">Team</a></li>
      </ul>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div id="mobile-menu" class="md:hidden hidden">
    <ul class="font-medium text-gray-900">
      <li><a href="{{ site.baseurl }}/" class="block py-2 px-3 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-primary-700 dark:text-white">Home</a></li>
      <li><a href="#" class="block py-2 px-3 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-primary-700 dark:text-white">News</a></li>
      <li><a href="#" class="block py-2 px-3 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-primary-700 dark:text-white">Publications</a></li>
      <li><a href="#" class="block py-2 px-3 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-primary-700 dark:text-white">Resources</a></li>
      <li><a href="{{ site.baseurl }}/team" class="block py-2 px-3 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-primary-700 dark:text-white">Team</a></li>
    </ul>
  </div>
</nav>

<script>
  const mobileMenuToggle = document.getElementById('mobile-menu-toggle');
  const mobileMenu = document.getElementById('mobile-menu');

  mobileMenuToggle.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
  });
</script>
