---
layout: default
---
<!-- {{reference}} -->
<div class="max-w-screen-lg py-4 mx-auto hidden opacity-0 animate-fade duration-700">
  <div class="grid grid-cols-5 gap-4">
    <div class="col-span-1 text-base text-start">
      {% if entry.year %}
        <p class="capitalize">{{ entry.month }} {{ entry.year }}</p>
      {% endif %}
    </div>

    <div class="col-span-4 text-left">
      {% if entry.url %}
      <a href="{{entry.url}}">
        <p class="text-left font-semibold hover:text-primary-700 text-gray-800 mb-1">{{ entry.title }}</p>
      </a>
      {% else %}
      <p class="text-left font-semibold text-gray-800 mb-1">{{ entry.title }}</p>
      {% endif %}
      <p class="text-left italic text-sm text-gray-800">{{ entry.author | join: ', ' }}</p>
      <div class="flex justify-between items-center">
        {% if entry.journal %}
          <p class="text-left text-sm text-gray-800">{{ entry.journal }}</p>
        {% elsif entry.booktitle %}
          <p class="text-left text-sm text-gray-800">{{ entry.booktitle }}</p>
        {% endif %}

        <!-- Insert link to publication if URL exists-->
        {% if entry.url %}
        <div class="flex items-center pl-4">
          <a href="{{entry.url}}">
            <i class="fas fa-chevron-right cursor-pointer transition-transform transform hover:scale-110 hover:text-primary-700"></i>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <hr class="rounded w-full mt-2 gray-700 bg-gray-600">
</div>