---
layout: default
---
<div class="relative py-24 md:py-32 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg flex flex-col mx-auto items-center max-w-prose mb-8">
      <h1 class="mt-2 mb-4 text-4xl uppercase text-center-DIS leading-8 font-extrabold text-secondary-600 md:text-4xl sm:leading-10">
        {{ page.title | escape }}</h1>
      <hr class="rounded w-8/12 gray-700 h-1 bg-gray-600">
    </div>
    {% include breadcrumbs.html %}

    <div class="pt-16 text-lg  max-w-screen-lg  text-gray-800 mx-auto">
      {{ content }}
    </div>
  </div>
</div>